{% extends 'CSDesignBundle:Commun:commun.html.twig' %}

{% block css %}
<link href="{{ asset('bundles/cscart/css/checkout.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

<h1>Confirmation</h1>

<p>Votre commande est validée!</p>

{% endblock %}