<div class="row">
	<div class="span10 offset1">
		<h3>Bienvenue sur la page d'administration de Cultural Store</h3>
		<div class="">Il y a actuellement {{ nombre_fournisseur }} fournisseur(s) a valider</div>
		<div class="">Il y a actuellement x communaut&eacute;(s) a valider</div>
		
	</div>
</div>