*/.project
*/.classpath
*/.settings
*/bin/classes
/.DS_Store
/composer.phar
*/composer.lock
*/composer.phar
/web/bundles/
/app/bootstrap*
/app/logs/*
/app/cacje/*
/vendor/
/app/config/parameters.yml
.sonar*

