*/.project
*/.classpath
*/.settings
*/bin/classes
/.DS_Store
/composer.phar
composer.lock
*/composer.lock
composer.phar
/web/bundles/
/app/bootstrap*
/app/logs/*
/app/cache/*
/vendor/
/app/config/parameters.yml
.sonar*
.htaccess
*/.htaccess
app/build/*
