.buildpath
.project
.classpath
.settings
*/bin/classes
.DS_Store
composer.phar
phpunit.phar
composer.lock
*/composer.lock
composer.phar
web/bundles/
app/bootstrap*
app/logs/*
app/cache/*
vendor/
app/config/parameters.yml
app/config/parameters.yml.dist
.sonar*
.htaccess
*/.htaccess
app/build/*
*.bat
*.md
*~
