{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusProductBundle:Product:macros.html.twig' as macros %}

<h1>Liste des produits</h1>
<hr />

<div class="well">
    {{ buttons.create(path('sylius_product_create'), 'Creer un produit') }}
</div>

{% if products.haveToPaginate()|default(false) %}
    {{ pagerfanta(products, 'twitter_bootstrap_translated') }}
{% endif %}

{{ macros.list(products) }}

{% if products.haveToPaginate()|default(false) %}
    {{ pagerfanta(products, 'twitter_bootstrap_translated') }}
{% endif %}
