<ul>
	<li class="type" > <span>Type : </span> <span>{{ product.type }} </span>  </li>
	<li class="quantite" > <span>Quantite : </span> <span>{{ product.quantite }} </span> </li>
	<li class="lieu" > <span>Lieu : </span> <span>{{ product.lieu }} </span> </li>
	<li class="dateEvent" > <span>Date du spectacle : </span> <span>{{ product.dateEvent|date("d/m/Y") }} </span>  </li>
</ul>