<ul>
	<li class="duree" > <span>Duree : </span> <span>{{ product.duree }} </span> </li>
	<li class="nbPistes" > <span>Nombres de pistes : </span> <span>{{ product.nbPistes }} </span>  </li>
	<li class="artiste" > <span>Artiste : </span> <span>{{ product.artiste }} </span> </li>
	<li class="format" > <span>Format : </span> <span>{{ product.format }} </span>  </li>
</ul>