{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}

{% block body %}
<div class="product-detail row">
	<div class="span4">
	{% block image %}
		<img class="image" src="{{ image }}" alt="Image" />
	{% endblock %}
	</div>
	
	<div class="general-information span8">
	{% block general %}
		<p class="name">{{ product.name }}</p>
		<p class="description">{{ product.description }}</p>
		
		{% block price %}
			<div class="price">{{ price }} €</div>
		{% endblock %}
	
	{% endblock general%}
	</div>
	
	<div class="properties row span12">
	{%  block properties %}
	{% endblock %}
	</div>
</div>
{% endblock body %}
