{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% extends 'CSProductBundle:Product:_show.html.twig' %}

{%  block properties %}	
	{% if product.properties|length > 0 %}
		<span>Autres informations : </span>
		<ul>
	        {% for property in product.properties %}
	        	{% if property.name != "price" and property.name != "image" %}
			        <li>
			            <span>{{ property.presentation }} : </span>
			            <span>{{ property.value }}</span>
			        </li>
		        {% endif %}
	        {% endfor %}
	    </ul>
	{% endif %}
{% endblock properties %}
