<ul>
	<li class="langue" > <span>Langue : </span> <span>{{ product.langue }} </span> </li>
	<li class="type" > <span>Type : </span> <span>{{ product.type }} </span>  </li>
	<li class="format" > <span>Format : </span> <span>{{ product.format }} </span> </li>
	<li class="auteur" > <span>Auteur : </span> <span>{{ product.auteur }} </span>  </li>
</ul>