{{ form(form) }}

{# <form>#}
{# 	<input type="text" id="nom" data-suggest="{{ path('search_product') }}" placeholder="Rechercher" />#}
{# 	<input  class="btn btn-primary search" type="submit" value="Rechercher"/>#}
{# </form>#}