@CHARSET "UTF-8";

.product-detail .general-information,
.product-detail .properties{
	text-align: left;
}

.description{
	color:#666666;
	font-style: italic;
	margin-bottom: 20px;
}

.price{
	padding: 2px 5px;
	background-color:#95CDE9;
	color: #666666;
	font-weight: bold;
	border-radius: 4px;
	font-size: 20px;
}

.properties{
	margin-top: 20px;	
}

.product-detail .action-buttons{
	margin-top: 20px;
}

.communities{
	background-color: #EDE8DC;
	min-height: 30%;
}

.communities div{
	padding: 5px 15px 10px;
}


/*à mettre dans cart.css */
.list-products{
	width:100%;
}

.list-products thead tr{
	font-weight: bold;
	border-bottom: 2px solid #999999;
	text-align: left;
}

.list-products tbody tr{
	border-bottom: 1px dotted #999999;
}

.list-products .delete{
	float: right;
	margin: 1px 5px 0 0;
}

.list-products .delete a{
	width: 16px;
	height: 16px;
	display: block;
	background: url('https://whyweprotest.net/community/styles/dark/ratings/delete_icon&16.png') 0 0 no-repeat;
}

.cart .action-buttons{
	margin-top: 20px;	
	float: right;
}

.clear{
	clear:both;	
}
