{% extends 'CSDesignBundle:Commun:commun.html.twig' %}

{% block page_name %} Confirmation d'inscription{% endblock %}

{% block body %}
<div class="confirmInscription">
	<h5>Vous avez bien &eacute;t&eacute; enregistr&eacute; !</h5>
	<p>Vous allez être redirigé vers la page d'acceuil dans quelques instants</p>
	 {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
       
		<meta http-equiv="refresh" content="5; URL={{ path('cs_design_homepage') }}">    
{% endif %}
   </div>
    
{% endblock body %}
	
