@CHARSET "UTF-8";

body {
	font-family: arial, serif;
	background-position: center top;
	background-color: #FAF6EB;
}

.container {
	margin: 0 auto;
}

[class*="span"] {
	-background-color: lightgreen;
	text-align: center;
}

.header>[class*="span"] {
	height: 100px;
	line-height: 98px;
}

.logo img {
	margin: 2px 0;
	height: 100px;
	width: 230px;
}

.input-append .search {
	vertical-align: middle;
}

.icon-shopping-cart {
	zoom: 2;
	margin-top: -3px;
	margin-right: 5px;
}

#panel-account img.photo {
	width: 60px;
	height: 60px;
}

#panel-account .client {
	line-height: 100%;
	vertical-align: middle;
}

#panel-account td.photo {
	width: 100px;
}

#panel-account td.cart {
	width: 50px;
}

.navbar-inner {
	font-size: 15px;
}

.navbar .nav>li {
	margin-right: 20px;
}
