@CHARSET "UTF-8";

body {
	font-family: arial, serif;
	background-position: center top;
		background-color: #FAF6EB;
	
}
.header, .body{
	margin: 0 auto;
	width: 65%;
	
}

.logo img{
	margin: 2px 0;
	height: 100px;
	width: 230px;
}