
<aside class="span3">
	<div class="avisBody">
		</br>
		<h5>Commentaires :</h5>
		{% for comment in comments %}
		<h6>{{ comment.user.prenom|capitalize ~" "~ comment.user.nom|capitalize }}</h6>
		<p>Note : {{ comment.note  }} "{{ comment.text }}"</p>
		{% endfor %}
	</div>
</aside>


