<div class="row header">

<!-- Le logo Cultural Store -->
			<div class="logo span3">
				<img src="{{ asset('bundles/csdesign/img/logo_CulturalStore.png') }}" alt="Logo CulturalStore"/></a>
			</div>	
			
<!-- Le champs de recherche de produit -->			
			<div class="span7">
				<h2>Page Fournisseur CulturalStore</h2>		
			</div>
			
<!-- Le compte fournisseur -->			
		<div class="span2">
			<table id="panel-account-fournisseur">
				<tr>
					<td class="photo">
					<img src="{{ asset('bundles/csdesign/img/dead-block.jpg') }}" alt="LogoFournisseur" class="img-polaroid "/>
					</td>
				</tr>
			</table>
		</div>
</div>
		
<!-- La barre de navigation du site -->				
<div class="navigation">
	<nav class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">					
					<li><a href="#">Ajouter un produit</a></li>
					<li><a href="#">Modifier un produit</a></li>
					<li><a href="#">Mes produits</a></li>
					<li><a href="#">Mes statistiques</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
		