{% extends 'CSDesignBundle:Commun:commun.html.twig' %}

{% block css %}
<link href="{{ asset('bundles/cscart/css/checkout.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

<h1>Mes commandes</h1>

<p>Voici la liste de vos commandes sur Cultural Store: </p>

{% endblock %}