@CHARSET "UTF-8";

.list-products{
	width:100%;
}

.list-products thead tr{
	font-weight: bold;
	border-bottom: 2px solid #999999;
	text-align: left;
}

.list-products tbody tr{
	border-bottom: 1px dotted #999999;
}

.list-products .delete{
	float: right;
	margin: 1px 5px 0 0;
}

.list-products .delete a{
	width: 16px;
	height: 16px;
	display: block;
	background: url('https://whyweprotest.net/community/styles/dark/ratings/delete_icon&16.png') 0 0 no-repeat;
}

.cart .action-buttons, .payment .action-buttons{
	margin-top: 20px;	
}

.payment input, .payment select{
	margin-left: 10px;
}

.payment .cbinput{
	width: 140px;
}

.payment .dateinput{
	width: 70px;
}

.payment .codeinput{
	width: 40px;	
}

.clear{
	clear:both;	
}