{% import 'CSCommunityBundle:Macros:macros_valide_proposed_community.html.twig' as macros %}






<h1>Produits ayant des communaut&eacute;s propos&eacute;es : </h1>
<hr />



{{ macros.list(products) }}

