<form action="{{ path('create_theme') }}" {{ form_enctype(form) }} method="POST" class="create_theme">
    {{ form_widget(form) }}
    <div>
        <input type="submit" name="_submit" id="_submit" value="Valider" />
    </div>
</form>