{% extends 'CSDesignBundle:Commun:commun.html.twig' %}	



{% block body %}
	<div class="row">
		<div id="fournisseur_communaute" class="span6">
			<h3> Vos Communaut&eacute;s <h3>
			{% render url('show_product_communities', { 'product_id' : product.id }) %}	
		</div>
		
		<div id="other_communaute" class="span6"> 
			<h3> Les autres communaut&eacute;s  <h3>
			
			{% render url('show_all_communities_of', { 'product_id' : product.id }) %}
		</div>
	</div>
	<div class="row">
		<div id="add_community" class="span6">
			<h3> Faites glisser une communaut&eacute; ici pour vous inscrire. <h3>	
		</div>
		
		<div id="remove_community" class="span6"> 
			<h3> Glisser une de vos communaut&eacute;s pour vous d&eacute;sinscrire.</h3>
		</div>
	
	</div>
	{% render url('propose_new_community',{ 'product_id' : product.id }) %}
	
	<script>
	 $.event.props.push('dataTransfer');
	 
	 $("#add_community").on({
         
         dragover: function(e) {
                        e.preventDefault();
         },

         drop: function(e) {
                 e.preventDefault();
                 var data= e.dataTransfer.getData('community_name');
                 var route = "{{ path('add_community_product', { 'communityName': "COMMUNITY" , 'product_id' : product.id }) }}";
                 window.location = route.replace("COMMUNITY", data);
                      
                 e.target.appendChild(document.getElementById(data));
         }
            
    })
    
    $("#remove_community").on({
         
         dragover: function(e) {
                        e.preventDefault();
         },

         drop: function(e) {
                 e.preventDefault();
                 var data= e.dataTransfer.getData('community_name');
                 var route = "{{ path('remove_community_product', { 'communityName': "COMMUNITY" , 'product_id' : product.id}) }}";
                 window.location = route.replace("COMMUNITY", data);
                      
                 e.target.appendChild(document.getElementById(data));
         }
            
    })
	
	$("#other_communaute,#product_communaute div").on({
        
        dragend: function(e){
            
        },
        
        dragstart: function(e) {
            $this = $(this);
			i = $(this).index();
			$(this).css('opacity', '1');

			console.log(e.target.id);
			e.dataTransfer.setData('community_name', e.target.id);
		    
		},
			
	});
</script>
{% endblock  %}