{% extends 'CSDesignBundle:Commun:commun.html.twig' %}
{% block body %}


<h1>{{ community.name }}</h1>

<h2>Nombre d'inscrit : {{ count }}</h2>

<h3>Bientôt les produits de cette communauté</h3>


{% endblock body %}
