{% extends 'CSDesignBundle:Commun:commun.html.twig' %}
{% block body %}
<div class="row communityName">
	<div class="span12">
		<p>Bienvenue sur la communaut&eacute; {{ community.name }} !</p>
	</div>
</div>

<div class="row communityNumber ">
	<div class="span12">
		<p>Il y a actuellement : {{ count }} personne(s) inscrite(s) à cette communaut&eacute;</p>
	</div>
	
</div>	

{%  render(controller('CSProductBundle:Search:searchByCommunityWithoutCarousel', { 'community': community })) %}


{% endblock body %}
