
{% for name, count in communities %}
	<a href="{{ path('page_community',{ 'communityName' : name }) }}">
	<div id="{{ name }}"   class="tag label label-info" draggable="true"> 
		{{ name }} {{ count }} 
	</div>
	</a>
{% endfor %}
