
{% for name, count in communities %}
	<div  id="{{ name }}"  class="tag label label-info" draggable="true" onClick="window.location.href='{{ path('page_community',{ 'communityName' : name }) }}';"> 
		{{ name }} {{ count }} 
	</div>
{% endfor %}
