{% import 'CSProductBundle:Macros:buttons.html.twig' as buttons %}
{% import 'CSProductBundle:Macros:macros_promotions.html.twig' as macros %}






<h1>Liste de vos promotions </h1>
<hr />
<a href="{{ path('cs_product_add_promotion') }}" class="btn btn-primary">
    <i class="glyphicon glyphicon-plus-sign"></i><span>Cr&eacute;er une promotion</span>
</a>
{% if resources.haveToPaginate() %}
    {{ pagerfanta(resources, 'twitter_bootstrap_translated') }}
{% endif %}

{{ macros.list(promotions) }}

{% if resources.haveToPaginate()%}
    {{ pagerfanta(resources, 'twitter_bootstrap_translated') }}
{% endif %}
