@CHARSET "UTF-8";

.list-fournisseurs{
	width:100%;
}

.list-fournisseurs thead tr{
	font-weight: bold;
	border-bottom: 2px solid #999999;
	text-align: left;
}

.list-fournisseurs tbody tr{
	border-bottom: 1px dotted #999999;
}

.list-fournisseurs .delete{
	float: right;
	margin: 1px 5px 0 0;
}

.list-fournisseurs .delete a{
	width: 16px;
	height: 16px;
	display: block;
	background: url('../images/delete_icon.png') 0 0 no-repeat;
}